body {
  overflow-x: hidden;
  width: 100%;
}

.body {
  display: flex;
  min-height: 100vh;
}

.toggle-1 {
  display: none;
}

.nav {
  position: absolute;
  width: 102.7%;
  height: 95px;
  left: 0;
  top: 0;
  background: #3c3a39;
  display: flex;
  justify-content: flex-start;
  z-index: 2;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
}

header {
  background: #3c3a39;
  height: 20px;
  margin-top: 0;
  margin-left: 0;
  width: 1000px;
  float: left;
}

.heading li {
  display: grid;
  row-gap: 100px;
}

.see-project-1 a,
.get-resume a {
  color: #fff;
}

.menu-items {
  display: inline-flex;
}

.menu-items ul {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.list li a {
  width: 114px;
  height: 24px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 43px;
  align-items: flex-start;
  text-align: left;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 50px;
  flex-direction: column;
}

.menu-items ul li {
  margin-right: 15%;
}

.menu-items ul li a {
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 120%;
}

.logo-name {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  width: 55%;
  color: #fff;
  padding-left: 10%;
  justify-content: center;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo-name:active {
  transform: rotate(360deg);
}

.images {
  padding-left: -10%;
  padding-top: 1%;
  margin-top: 1%;
}

.icons {
  display: flex;
  flex-direction: column;
}

.section-2 {
  max-height: 55%;
  align-items: flex-start;
  padding: 120px 24px;
  padding-bottom: 160px;
  gap: 12px;
  position: relative;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 72px;
  background: #1c1a19;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: bottom -50px right 1px;
  flex-direction: row;
  padding-top: 17%;
  column-gap: 6%;
  margin-left: -3%;
}

.primary-text {
  font-size: 500%;
  width: 61%;
  padding-bottom: 5%;
}

.header-image {
  display: inline;
  position: absolute;
  width: 48%;
  top: -7%;
  right: 0;
  height: 95%;
}

.description {
  font-size: 140%;
  margin-top: 2%;
  line-height: 152%;
  font-style: normal;
  width: 505px;
  height: 148px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  flex: none;
  flex-grow: 0;
}

.supporting-text {
  margin-top: 1%;
  font-size: 200%;
  font-style: normal;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.section-2 .images {
  order: -1;
  display: flex;
  flex-direction: row;
}

.see-project-1:hover {
  background: #ff6b00;
}

.rule {
  width: 50%;
  margin-left: -48px;
  margin-top: 10%;
}

.title {
  width: 30%;
}

.img-3 {
  width: 52%;
  height: 29rem;
}

.flap-1 {
  width: 100%;
  position: relative;
  top: -40px;
}

.card-1 {
  width: 100%;
  display: flex;
  column-gap: 2%;
  margin-bottom: 0%;
}

.Supporting-text-1 {
  width: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
}

.card {
  background-image: url("./img/img_placeholder_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 478px;
  width: 396px;
  top: 0;
  border-radius: 0;
}

.card:hover {
  transform: scale(1.1);
}

.card-sec-1 {
  grid-area: box-1;
  background-image: url("./img/desktop/proprint.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-sec-2 {
  grid-area: box-2;
  background-image: url("./img/desktop/avail.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-sec-3 {
  grid-area: box-3;
  background-image: url("./img/desktop/coneball.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-sec-4 {
  grid-area: box-4;
  background-image: url("./img/desktop/proprintdark.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-sec-5 {
  grid-area: box-5;
  background-image: url("./img/desktop/avail.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-sec-6 {
  grid-area: box-6;
  background-image: url("./img/desktop/coneball.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-sec {
  display: grid;
  width: 74%;
  column-gap: 1%;
  row-gap: 2%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'box-1 box-2 box-3'
    'box-4 box-5 box-6';
}

.cards {
  width: 80%;
  margin: auto;
}

.Supporting-text {
  width: 274px;
  font-size: 16px;
}

.tag-link {
  margin-left: -20px;
  display: flex;
  align-content: space-between;
  column-gap: 4%;
}

.tag-link-1 {
  column-gap: 3%;
  margin-top: -34px;
}

.tags {
  width: 34rem;
  margin-bottom: -33.5%;
}

.tag {
  border: 1px solid gray;
  padding-top: 2%;
  height: 30px;
}

.Title-post-1 {
  font-size: 235%;
  width: 100%;
}

.Title-post {
  font-size: 36px;
  height: 55px;
  line-height: 35px;
}

.see-project {
  display: none;
}

.see-project-vis {
  top: 408px;
  color: #fff;
  position: relative;
  height: 55px;
  background: #ff6b00;
  margin-top: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  width: 100%;
  font-size: 120%;
  margin-bottom: 5%;
}

.card-sec-1 .Title-post-1 {
  display: none;
}

.card-sec-1 h2 {
  display: none;
}

.card-sec-1 p.Supporting-text {
  display: none;
}

.deskoff .tag-link {
  display: none;
}

.about-me {
  position: relative;
  margin-top: 5%;
  margin-bottom: 1%;
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-text {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -20%;
}

.offer {
  display: flex;
  flex-direction: row;
  column-gap: 42%;
  position: relative;
  top: 180px;
  justify-content: center;
}

.square,
.circle,
.kite {
  margin-right: 4%;
}

p {
  font-size: 12px;
}

.About {
  position: relative;
  top: 200px;
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 400px;
  padding-top: 50px;
  width: 100vw;
  left: 0;
  margin-left: -5px;
  overflow-x: hidden;
}

.About ul li {
  color: #fff;
  width: 164px;
  height: 24px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 0 auto;
  text-align: justify;
}

.head {
  display: flex;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 20px;
  margin-left: 0%;
}

.list {
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: -65px;
  text-align: justify;
  width: fit-content;
  padding-left: 0;
  margin-left: 0;
}

.get-resume {
  position: relative;
  width: 180px;
  padding: 7px;
  background: #ff6b00;
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  align-self: flex-start;
  margin-left: 0;
  margin-top: 35px;
  order: 5;
}

.image-2 {
  height: 400px;
  width: 50%;
  background-image: url(./img/desktop/laay.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 7%;
  left: 59%;
}

.heading > ul {
  list-style: none;
  align-items: center;
}

.heading > ul > li {
  font-size: 5px;
  vertical-align: middle;
  text-align: center;
  padding: 5px 0;
}

.menu-items ul li:hover {
  transform: translateY(-10px);
}

h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.empty {
  height: 10px;
}

.descripton {
  width: 505px;
  height: 148px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #000;
  flex: none;
  flex-grow: 0;
}

.rule-2 {
  position: absolute;
  width: 75%;
  top: 538px;
}

.description-2 {
  margin: auto;
  text-align: left;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 40px;
  height: 180px;
  width: 437px;
  line-height: 52px;
  color: #172b4d;
  position: relative;
  margin-top: 3px;
}

.section_3 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-left: -6%;
}

#name-input,
#email-input {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  width: 600px;
  border: 0;
  border-bottom: 1px solid gray;
  outline: 0;
  font-size: 10px;
  color: rgb(14, 12, 12);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

#name-input:hover {
  transform: scale(1.1);
}

#email-input:hover {
  transform: scale(1.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

#more-text {
  border: 0;
  color: #000;
  background: hsl(0, 11%, 95%);
  font-style: normal;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.submit {
  padding: 11px;
  background: #fc8e40;
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: 1px solid white;
  margin-left: -83%;
}

.submit:hover {
  padding: 11px;
  background: #ff6b00;
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: 1px solid white;
}

.submit:disabled {
  padding: 7px;
  background: #f59551;
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: 1px solid white;
}

.icons-1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
  margin-top: 50px;
}

.section-4 {
  display: flex;
  align-content: center;
  justify-content: center;
}

.card-fill {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-fill .text-sec {
  padding-top: 81px;
  height: 0;
}

.card-body {
  position: relative;
  margin-left: -6%;
}

.mob {
  display: none;
}

.desk {
  display: inline;
}

.field input:focus {
  outline: none;
}

.error,
.field.success input {
  border-color: green;
}

.error .field.error input {
  border-color: red;
}

#popup {
  padding-top: 7px;
  padding-left: 2%;
  background: #fffdfc;
  display: block;
  max-width: 100vw;
  top: 50%;
  left: 50%;
}

.popTitle {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#project-live-source {
  margin-left: -40px;
  column-gap: 10px;
}

#project-live-source li button {
  height: 35px;
  width: 110px;
  background: #ff6b00;
  color: aliceblue;
  border: none;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  display: flex;
}

.popgrid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.popup-close {
  position: absolute;
  right: 90px;
  top: 50px;
  border: none;
  background: #fff;
  z-index: 2000;
}

#technologies {
  margin-left: -40px;
  column-gap: 10px;
}

#technologies li button {
  padding: 5px;
  border: 1px solid rgb(222, 220, 220);
  background: white;
}

.popup-image {
  width: 659px;
  height: 448px;
}

.popup-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}

.works-section {
  margin-top: 0;
  display: inline-flex;
  align-items: center;
  padding-left: 7.511%;
  width: 90%;
}

.popup-description {
  text-align: justify;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  width: 90%;
}

.pop-icon {
  margin-left: 3px;
}

.show {
  display: block;
}
