
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  overflow-x: hidden;
}

.body {
  display: flex;
  min-height: 100vh;
}

.nav {
  position: absolute;
  width: 423px;
  height: 95px;
  left: 0;
  top: 0;
  background: #3c3a39;
  display: flex;
  justify-content: flex-start;
}

.head {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.section-2 {
  max-height: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  padding-top: 50px;
  padding-bottom: 160px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 700px;
  left: 0;
  top: 92px;
  background: #1c1a19;
  background-image: url("Group.png");
  z-index: 1;
  background-repeat: no-repeat;
  background-position: bottom -50px right 1px;
}

header {
  background: #3c3a39;
  height: 20px;
  margin-top: 0;
  margin-left: 0;
  width: 350px;
  float: left;
}

.nav-bar {
  margin-left: 10px;
  width: 100%;
  display: flex;
  margin-right: 50px;
}

.logo-name {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  width: 70%;
  color: #fff;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 20px;
  justify-content: center;
}

.icon:hover { background-color: deepskyblue; }
.icon:active { color: gray; }
.icon:enabled { color: ghostwhite; }

.toggle {
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  border-radius: 5px;
}

.toggle-1 {
  margin-top: 30px;
}

.primary-text {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-grow: 0;
}

.supporting-text {
  margin: 5px;
  height: 27px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  flex-grow: 0;
}

.description {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0;
}

.icons {
  display: flex;
  order: 5;
}

.images {
  order: 5;
  display: inline;
}

li {
  list-style-type: none;
}

ul {
  position: relative;
  margin-left: 10px;
}

.title {
  width: 327px;
  height: 83px;
  align-self: center;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 150px;
  margin-left: 30px;
}

.rule {
  margin-right: auto;
  width: 310px;
  margin-left: 35px;
}

.tag {
  border: 1px solid black;
  padding: 3px;
}

.tag-link {
  margin-left: 20px;
}

.tag:hover {
  background-color: dodgerblue;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

.card {
  background-image: url("img_placeholder_1.png");
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

.cards {
  display: grid;
  row-gap: 30px;
  margin: auto;
  margin-left: 35px;
  margin-top: 90px;
}

.card-1 {
  width: 350px;
}

.see-project {
  color: #fff;
  position: relative;
  width: 327px;
  height: 35px;
  background: #ff6b00;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.see-project:hover {
  background: #eecdb5;
  border: 0.5px solid #ff6b00;
  color: #ff6b00;
}

.Title-post {
  width: 295px;
  height: 87px;
  padding-left: 20px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  flex: none;
  flex-grow: 0;
  display: flex;
  justify-self: center;
  flex-direction: column-reverse;
}

.Title-post-1 {
  width: 295px;
  height: 40px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400px;
  line-height: 24px;
  flex: none;
  flex-grow: 0;
  display: flex;
  justify-self: center;
  flex-direction: column-reverse;
}

.Supporting-text {
  width: 70%;
  padding-left: 20px;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.Supporting-text-1 {
  width: 90%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.tag a {
  color: #fff;
  width: 32px;
  height: 20px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  flex: none;
  flex-grow: 0;
  padding: 10px;
}

.see-project a {
  color: #fff;
  font-style: normal;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.see-project-1 {
  position: relative;
  width: 150px;
  padding: 7px;
  height: fit-content;
  background: #ff6b00;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 700;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.img-3 {
  margin-left: -5px;
}

.tag-link-1 a {
  color: black;
}

.about-me {
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.offer {
  display: grid;
  row-gap: 60px;
  position: relative;
  top: 250px;
}

.About {
  position: relative;
  top: 200px;
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 400px;
  height: fit-content;
  padding-top: 50px;
  width: 410px;
  left: 0;
  margin-left: -5px;
  overflow-x: hidden;
}

.descripton {
  width: 327px;
  height: 148px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  flex: none;
  flex-grow: 0;
}

.heading li {
  display: grid;
  row-gap: 100px;
}

.About ul li {
  color: #fff;
  width: 164px;
  height: 24px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 0 auto;
  text-align: justify;
}

.list {
  row-gap: 20px;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: -65px;
  text-align: justify;
  width: fit-content;
}

.see-project-1 a,
.get-resume a {
  color: #fff;
}

.list li a {
  width: 114px;
  height: 24px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 50px;
  flex-direction: column;
}

.get-resume {
  position: relative;
  width: 180px;
  padding: 7px;
  height: fit-content;
  background: #ff6b00;
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  align-self: flex-start;
  margin-left: 43px;
  margin-top: 35px;
}

.image-2 {
  height: 400px;
  width: 400px;
  background-image: url(./illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 24%;
  left: 55%;
}

.heading > ul {
  list-style: none;
  align-items: center;
}

.heading > ul > li {
  font-size: 1em;
  vertical-align: middle;
  text-align: center;
  padding: 5px 0;
}

h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 600px;
  color: #fff;
  
}

.empty {
  height: 10px;
}

.rule-2 {
  position: absolute;
  width: 290px;
  top: 680px;
}
